@font-face {
  font-family: "Prosto One";
  src: url("../assets/fonts/ProstoOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/ProstoOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 18px "Prosto One", sans-serif;
  color: #222222;
}

.wrapper {
  overflow: hidden;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
}

@media only screen and (max-width: 1660px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}
